<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    
    <link rel="shortcut icon" href="../../../img/favicon.ico">

    
    <title>Views - Cours SQL</title>
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/v4-shims.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css">
    <link href='//rsms.me/inter/inter.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="../../../css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="../../../css/base.min.css" rel="stylesheet">
    <link href="../../../css/cinder.min.css" rel="stylesheet">

    
        
        <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/github.min.css">
        
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->

    

     
</head>

<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            

            <!-- Main title -->

            
              <a class="navbar-brand" href="../../..">Cours SQL</a>
            
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
                <!-- Main navigation -->
                <ul class="nav navbar-nav">
                
                
                    <li >
                        <a href="../../..">Home</a>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 0 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours0/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours0/histoire/">Histoire</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 1 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../cyberchase/instructions/">Cyberchase</a>
</li>

                        
                            
<li >
    <a href="../../normals/instructions/">Normals</a>
</li>

                        
                            
<li >
    <a href="../../players/instructions/">Players</a>
</li>

                        
                            
<li class="active">
    <a href="./">Views</a>
</li>

                        
                            
<li >
    <a href="../../index_old.md">Old Index</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 2 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours2/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours2/dese/instructions/">Dese</a>
</li>

                        
                            
<li >
    <a href="../../../cours2/moneyball/instructions/">Moneyball</a>
</li>

                        
                            
<li >
    <a href="../../../cours2/packages/instructions/">Packages</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 3 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours3/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours3/atl/instructions/">ATL</a>
</li>

                        
                            
<li >
    <a href="../../../cours3/connect/instructions/">Connect</a>
</li>

                        
                            
<li >
    <a href="../../../cours3/doghnut/instructions/">Doghnut</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 4 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours4/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours4/dont-panic/instructions/">Don't Panic</a>
</li>

                        
                            
<li >
    <a href="../../../cours4/meteorites/instructions/">Meteorites</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 5 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours5/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours5/bnb/instructions/">BNB</a>
</li>

                        
                            
<li >
    <a href="../../../cours5/census/instructions/">Census</a>
</li>

                        
                            
<li >
    <a href="../../../cours5/private/instructions/">Private</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 6 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours6/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours6/harvard/instructions/">Harvard</a>
</li>

                        
                            
<li >
    <a href="../../../cours6/snap/instructions/">Snap</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cours 7 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../cours7/">Introduction</a>
</li>

                        
                            
<li >
    <a href="../../../cours7/index2/">Index 2</a>
</li>

                        
                            
<li >
    <a href="../../../cours7/deep/answers/">Deep Answers</a>
</li>

                        
                            
<li >
    <a href="../../../cours7/deep/instructions/">Deep Instructions</a>
</li>

                        
                            
<li >
    <a href="../../../cours7/dont-panic-python/instructions/">Don't Panic Python</a>
</li>

                        
                            
<li >
    <a href="../../../cours7/linkedin/instructions/">LinkedIn</a>
</li>

                        
                        </ul>
                    </li>
                
                
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">SQLite Python <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        
                            
<li >
    <a href="../../../sqlite_python/">Introduction</a>
</li>

                        
                        </ul>
                    </li>
                
                
                </ul>

            <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                            <i class="fas fa-search"></i> Search
                        </a>
                    </li>
                    <li >
                        <a rel="prev" href="../../players/instructions/">
                            <i class="fas fa-arrow-left"></i> Previous
                        </a>
                    </li>
                    <li >
                        <a rel="next" href="../../../cours2/">
                            Next <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
</div>

    <div class="container">
        
        
        <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
        <li class="first-level active"><a href="#demonstration">Démonstration</a></li>
        <li class="first-level "><a href="#probleme-a-resoudre">Problème à Résoudre</a></li>
            <li class="second-level"><a href="#curieux-den-savoir-plus-sur-la-couleur-moyenne-la-luminosite-le-contraste-ou-lentropie">Curieux d'en savoir plus sur la couleur moyenne, la luminosité, le contraste ou l'entropie ?</a></li>
                
        <li class="first-level "><a href="#distribution-code">Distribution Code</a></li>
        <li class="first-level "><a href="#schema">Schéma</a></li>
        <li class="first-level "><a href="#specification">Spécification</a></li>
        <li class="first-level "><a href="#utilisation">Utilisation</a></li>
        <li class="first-level "><a href="#comment-tester">Comment Tester</a></li>
    </ul>
</div></div>
        <div class="col-md-9" role="main">

<p><img alt="Beau Temps, Matin Clair" src="https://cs50.harvard.edu/sql/2024/psets/0/views/2.jpeg" />
Beau Temps, Matin Clair par Katsushika Hokusai</p>
<h2 id="demonstration">Démonstration<a class="headerlink" href="#demonstration" title="Permanent link">&para;</a></h2>
<pre><code class="language-sql">$ sqlite3 views.db                                                       sqlite&gt; .tables                                                         views                                                                   sqlite&gt; SELECT &quot;english_title&quot;, &quot;artist&quot; FROM &quot;views&quot;;  
</code></pre>
<h2 id="probleme-a-resoudre">Problème à Résoudre<a class="headerlink" href="#probleme-a-resoudre" title="Permanent link">&para;</a></h2>
<p>De 1830 à 1832, l'artiste japonais Katsushika Hokusai a créé 36 estampes représentant 36 vues différentes du Mont Fuji, un volcan sur l'île de Honshū au Japon. Parmi les œuvres les plus célèbres de la série figurent Beau Temps, Matin Clair et La Grande Vague de Kanagawa. Les estampes sont devenues si influentes qu'un autre artiste japonais de l'époque, Utagawa Hiroshige, a créé sa propre série de 36 estampes, chacune représentant une nouvelle vue du Fuji.</p>
<p>Dans <code>views.db</code>, vous trouverez des détails sur les 36 estampes créées respectivement par Hokusai et Hiroshige. Au total, vous disposerez de données sur 72 estampes. Bien que ces estampes soient généralement appréciées pour leur esthétique, la science informatique permet désormais de fournir des informations numériques supplémentaires sur les œuvres d'art. En plus du titre et de l'auteur de chaque estampe, vous trouverez des statistiques couramment utilisées dans l'analyse computationnelle des images : la couleur moyenne, la luminosité, le contraste et l'entropie. Dans les fichiers <code>.sql</code> fournis, écrivez des requêtes SQL pour répondre à des questions sur cette base de données de 72 estampes et les statistiques sur leur composition.</p>
<h3 id="curieux-den-savoir-plus-sur-la-couleur-moyenne-la-luminosite-le-contraste-ou-lentropie">Curieux d'en savoir plus sur la couleur moyenne, la luminosité, le contraste ou l'entropie ?<a class="headerlink" href="#curieux-den-savoir-plus-sur-la-couleur-moyenne-la-luminosite-le-contraste-ou-lentropie" title="Permanent link">&para;</a></h3>
<ul>
<li><strong>Couleur moyenne</strong> : La couleur obtenue en additionnant les valeurs des canaux rouge, vert et bleu de chaque pixel, puis en divisant chaque somme par le nombre de pixels dans l'image.</li>
<li><strong>Luminosité</strong> : Définie comme la clarté ou l'obscurité d'une image, sur une échelle de 0 à 1. Une image blanche mesurerait 1, tandis qu'une image noire mesurerait 0.</li>
<li><strong>Contraste</strong> : Défini comme l'étendue des différences de luminosité dans une image, sur une échelle de 0 à 1. Un contraste plus élevé (différences de luminosité plus importantes) permet aux objets de se démarquer. Un contraste plus faible (différences de luminosité plus faibles) signifie que les objets ne se démarquent pas autant.</li>
<li><strong>Entropie</strong> : Une mesure de l'aléatoire d'une image, souvent utilisée pour caractériser la complexité d'une œuvre d'art. Une entropie de 10 est assez élevée, tandis qu'une entropie de 0 est très faible.</li>
</ul>
<h2 id="distribution-code">Distribution Code<a class="headerlink" href="#distribution-code" title="Permanent link">&para;</a></h2>
<p>Pour ce problème, vous devrez accéder à <code>views.db</code>, ainsi que plusieurs fichiers <code>.sql</code> dans lesquels vous écrirez vos requêtes.</p>
<h2 id="schema">Schéma<a class="headerlink" href="#schema" title="Permanent link">&para;</a></h2>
<p>Dans <code>views.db</code>, vous trouverez une seule table, <code>views</code>. Dans la table <code>views</code>, vous trouverez les colonnes suivantes :</p>
<ul>
<li><code>id</code> : Identifie de manière unique chaque ligne (estampe) de la table.</li>
<li><code>print_number</code> : Identifie le numéro de l'estampe dans la série de Hokusai ou Hiroshige.</li>
<li><code>english_title</code> : Le titre en anglais de l'estampe.</li>
<li><code>japanese_title</code> : Le titre en japonais de l'estampe.</li>
<li><code>artist</code> : Le nom de famille de l'artiste de l'estampe.</li>
<li><code>average_color</code> : La représentation hexadécimale de la couleur obtenue en faisant la moyenne des couleurs de chaque pixel de l'image.</li>
<li><code>brightness</code> : Un nombre correspondant à la luminosité ou à l'obscurité globale de l'image.</li>
<li><code>contrast</code> : Un nombre représentant l'étendue de la différence entre les zones claires et sombres de l'image.</li>
<li><code>entropy</code> : Une mesure utilisée pour quantifier la complexité de l'œuvre d'art.</li>
</ul>
<h2 id="specification">Spécification<a class="headerlink" href="#specification" title="Permanent link">&para;</a></h2>
<p>Pour chacune des questions suivantes, vous devez écrire une seule requête SQL qui produit les résultats spécifiés par chaque problème. Votre réponse doit prendre la forme d'une seule requête SQL. Vous ne devez pas faire d'hypothèses sur les <code>id</code> de certaines observations : vos requêtes doivent être exactes même si l'<code>id</code> d'une observation particulière était différent. Enfin, chaque requête doit retourner uniquement les données nécessaires pour répondre à la question.</p>
<ol>
<li>Dans <code>1.sql</code>, écrivez une requête SQL qui pourrait intéresser un traducteur : listez, côte à côte, le titre japonais et le titre anglais de chaque estampe. Assurez-vous que le titre japonais est la première colonne, suivi du titre anglais.</li>
<li>Dans <code>2.sql</code>, écrivez une requête SQL pour lister les couleurs moyennes des estampes de Hokusai dont le titre anglais contient "rivière". (À titre indicatif, ont-elles une teinte de bleu ?)</li>
<li>Dans <code>3.sql</code>, écrivez une requête SQL pour compter combien d'estampes de Hokusai contiennent "Fuji" dans le titre anglais. Bien que toutes les estampes de Hokusai se soient concentrées sur le Mont Fuji, combien ont inclus "Fuji" dans le titre ?</li>
<li>Dans <code>4.sql</code>, écrivez une requête SQL pour compter combien d'estampes de Hiroshige ont des titres anglais qui font référence à la "Capitale de l'Est". Les estampes de Hiroshige ont été créées pendant la période "Edo" du Japon, en référence à la capitale orientale d'Edo, aujourd'hui Tokyo.</li>
<li>Dans <code>5.sql</code>, écrivez une requête SQL pour trouver la valeur de contraste la plus élevée des estampes de Hokusai. Nommez la colonne "Contraste Maximum". L'estampe de Hokusai la plus contrastée a-t-elle vraiment beaucoup de contraste ?</li>
<li>Dans <code>6.sql</code>, écrivez une requête SQL pour trouver l'entropie moyenne des estampes de Hiroshige, arrondie à deux décimales. Appelez la colonne résultante "Entropie Moyenne de Hiroshige".</li>
<li>Dans <code>7.sql</code>, écrivez une requête SQL pour lister les titres anglais des 5 estampes les plus lumineuses de Hiroshige, de la plus lumineuse à la moins lumineuse. Comparez-les à cette liste sur Wikipedia pour voir si vos résultats correspondent à l'esthétique de l'estampe.</li>
<li>Dans <code>8.sql</code>, écrivez une requête SQL pour lister les titres anglais des 5 estampes de Hokusai ayant le moins de contraste, du moins contrasté au plus contrasté. Comparez-les à cette liste sur Wikipedia pour voir si vos résultats correspondent à l'esthétique de l'estampe.</li>
<li>Dans <code>9.sql</code>, écrivez une requête SQL pour trouver le titre anglais et l'artiste de l'estampe ayant la luminosité la plus élevée.</li>
<li>Dans <code>10.sql</code>, écrivez une requête SQL pour répondre à une question de votre choix sur les estampes. La requête doit :<ul>
<li>Utiliser <code>AS</code> pour renommer une colonne.</li>
<li>Impliquer au moins une condition, en utilisant <code>WHERE</code>.</li>
<li>Trier par au moins une colonne, en utilisant <code>ORDER BY</code>.</li>
</ul>
</li>
</ol>
<h2 id="utilisation">Utilisation<a class="headerlink" href="#utilisation" title="Permanent link">&para;</a></h2>
<p>Pour tester vos requêtes au fur et à mesure que vous les écrivez dans vos fichiers <code>.sql</code>, vous pouvez interroger la base de données en exécutant :</p>
<pre><code>.read FILENAME
</code></pre>
<p>où <code>FILENAME</code> est le nom du fichier contenant votre requête SQL. Par exemple :</p>
<pre><code>.read 1.sql
</code></pre>
<p>Vous pouvez également exécuter :</p>
<pre><code>$ cat FILENAME | sqlite3 views.db &gt; output.txt
</code></pre>
<p>pour rediriger la sortie de la requête vers un fichier texte nommé <code>output.txt</code>. (Cela peut être utile pour vérifier combien de lignes sont retournées par votre requête !)</p>
<h2 id="comment-tester">Comment Tester<a class="headerlink" href="#comment-tester" title="Permanent link">&para;</a></h2>
<ul>
<li>L'exécution de <code>1.sql</code> produit une table avec 2 colonnes et 72 lignes.</li>
<li>L'exécution de <code>2.sql</code> produit une table avec 1 colonne et 3 lignes.</li>
<li>L'exécution de <code>3.sql</code> produit une table avec 1 colonne et 1 ligne.</li>
<li>L'exécution de <code>4.sql</code> produit une table avec 1 colonne et 1 ligne.</li>
<li>L'exécution de <code>5.sql</code> produit une table avec 1 colonne et 1 ligne.</li>
<li>L'exécution de <code>6.sql</code> produit une table avec 1 colonne et 1 ligne.</li>
<li>L'exécution de <code>7.sql</code> produit une table avec 1 colonne et 5 lignes.</li>
<li>L'exécution de <code>8.sql</code> produit une table avec 1 colonne et 5 lignes.</li>
<li>L'exécution de <code>9.sql</code> produit une table avec 2 colonnes et 1 ligne.</li>
</ul>
<p><code>10.sql</code> dépend de vous !</p>
<p>Notez que le nombre de lignes ne comprend pas les lignes d'en-tête qui ne montrent que les noms des colonnes.</p></div>
        
        
    </div>

    
      <footer class="col-md-12 text-center">
          
          
            <hr>
            <p>
            <small>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</small>
            </p>
          

          
          
      </footer>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../../../js/bootstrap-3.0.3.min.js"></script>

    
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
        
    <script>hljs.initHighlightingOnLoad();</script>
    

    <script>var base_url = "../../.."</script>
    
    <script src="../../../js/base.js"></script>
    <script src="../../../search/main.js"></script>

    <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
            </div>
            <div class="modal-body">
                <p>
                    From here you can search these documents. Enter
                    your search terms below.
                </p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
    </body>

</html>
